body{
    margin:0;
    overflow: hidden;
    height: 100%;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
}

html{
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#game{
    height: 90%;
    width: 100%;

}
.container{
    position: relative;
    margin: auto;
    max-width: 1200px;
    max-height: 1000px;
}
#score-bar{
    display: flex;
    justify-content:start;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 10px;
}
#coins{
    color:gold;
    font-size: 20px;
    padding-right: 20px;
}
#level{
    color: gold;
    font-size: 20px;
    padding-right: 20px;
}

#demo{
    height: 200px;
    width: 200px;
}

.hidden{
    display: none !important;
}

.menu{
    color: gold;
    position: absolute;
    left:15%;
    top: 30vh;
    bottom: 40vh;
    right: 15%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#menu-button{
    margin-top: 20%;
    padding: 5%;
    border-radius: 5%;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
    color: gold;
}

@media (max-width: 600px){
    #score-bar{
        flex-direction: column;
        justify-content:start;
        align-items: start;
    }
}